.box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	margin: 10px;
	border: 5px solid black;
	border-radius: 5%;
	font-size: 50px;
	color: white;
	letter-spacing: 1px;
	font-family: impact;
	text-transform: uppercase;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
		2px 2px 5px #000;
}
